@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    background: #f8f2f2;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

/* Navbar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #fff;
    box-shadow: 0 7px 8px #ece9e9;
}

.logo {
    width: 265px;
    height: 52px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    font-size: 18px;
    color: rgb(17, 17, 17);
}

nav ul li i {
    font-size: 12px;
}

.profile {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger {
    display: none;
}

/* Konsultasi */

.consultation {
    margin-top: 50px;
    padding: 20px 45px;
}

.consul-title {
    text-align: center;
    margin-bottom: 60px;
}

.consul-title h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 12px;
}

.reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.calendar {
    background: #fff;
    padding: 33px;
    border: 2px solid rgb(241, 235, 235);
    border-radius: 7px;
    width: 45%;
}

.upper-cal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.upper-cal h4 {
    margin-left: 22px;
}

.upper-cal {
    font-weight: 700;
    font-size: 17px;
}

.arrow-cal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 26px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 20px;
    column-gap: 7px;
    place-items: center;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    column-gap: 7px;
    row-gap: 12px;
}

.dates div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(138, 136, 136);
    cursor: pointer;
}

.dates div.active {
    color: #fff;
    background: rgba(39, 146, 235, 0.7);
}

.dates div:hover {
    color: #fff;
    background: rgba(39, 146, 235, 0.7);
}

.times {
    background-color: #fff;
    padding: 33px;
    width: 55%;
    border: 2px solid rgb(241, 235, 235);
    border-radius: 7px;
}

.upper-time .flex {
    margin-bottom: 13px;
    text-align: center;
}

.upper-time .flex h4 {
    font-size: 20px;
    margin-bottom: 3px;
}

.upper-time h4 {
    margin-bottom: 7px;
}

.upper-time p {
    font-size: 14px;
    margin-bottom: 10px;
}

.choose .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 15px 20px;
}

.time {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid rgb(138, 136, 136);
    border-radius: 10px;
    color: rgb(0, 89, 255);
    font-weight: bold;
    cursor: pointer;
}

.time.active {
    background: rgba(125, 188, 240, 0.7);
}

.time:hover {
    background: rgba(125, 188, 240, 0.7);
}

/* Form Park*/

.form-park {
    padding: 30px 45px;
}

.title-data {
    margin-bottom: 25px;
}

.personal-data {
    padding: 60px 90px;
    border-radius: 5px 5px 0 0;
    background: #fff;
    border: 2px solid rgb(241, 235, 235);
}

.personal-data form {
    display: flex;
    align-items: center;
    gap: 30px;
}

.form-control {
    width: 450px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.form-control input {
    width: 100%;
    padding: 7px 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(223, 221, 221);
}

.address {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.wrapper-address {
    width: 650px;
    border: 1px solid #1b6a19;
    padding: 20px 27px;
    border-radius: 10px;
}

.add-address {
    display: block;
    text-align: end;
    margin-top: 20px;
    color: #1b6a19;
    text-decoration: underline;
}

.parks {
    padding: 60px 90px;
    border-radius: 0 0 5px 5px;
    background: #fff;
    border-right: 2px solid rgb(241, 235, 235);
    border-left: 2px solid rgb(241, 235, 235);
    border-bottom: 2px solid rgb(241, 235, 235);
}

.sum-park {
    margin-bottom: 20px;
}

.sub-title {
    margin-bottom: 12px;
    font-size: 20px;
}

.tagline {
    margin-bottom: 10px;
}

.choose-park {
    display: inline-block;
    border: 2px solid #1b6a19;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 700;
    color: #1b6a19;
    margin-right: 25px;
    cursor: pointer;
}

.choose-park.active {
    background: #1b6a19;
    color: #fff;
}

.theme-park {
    margin-bottom: 30px;
}

.note {
    width: 680px;
    padding: 20px 15px;
    border-radius: 14px;
    background: rgba(248, 200, 110, 0.5);
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    border: 2px solid rgb(241, 235, 235);
    border-radius: 10px;
    width: 350px;
    height: 500px;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    border-radius: 10px;
}

.card-body {
    padding: 23px 15px;
}

.card-body h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.desc {
    min-height: 40px;
    margin-bottom: 10px;
}

.wrapper-add {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.add {
    color: #1b6a19;
    text-decoration: underline;
}

.large-park {
    margin-bottom: 60px;
}

.wrapper-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.choose-large {
    display: inline-block;
    border: 2px solid #1b6a19;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 700;
    color: #1b6a19;
    margin-right: 20px;
    cursor: pointer;
}

.choose-large.active {
    background: #1b6a19;
    color: #fff;
}

.wrapper-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}

.btn-btl {
    background: #eefdee;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 8px;
}

.btn-oke {
    font-size: 20px;
    padding: 10px 12px;
    background: #1b6a19;
    color: #fff;
    border-radius: 8px;
}

@media (max-width: 1300px) {
    .upper-cal h4 {
        margin-left: 0;
    }

    .arrow-cal {
        margin-right: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card {
        width: 330px;
        height: 509px;
    }

    .desc {
        min-height: 55px;
    }

    .card:nth-child(2) {
        justify-self: self-end;
    }

    .card img {
        height: 330px;
    }
}

@media (max-width: 1024px) {
    .parks,
    .personal-data {
        padding: 29px 39px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card {
        width: 300px;
        height: 469px;
    }

    .card:nth-child(2) {
        justify-self: self-end;
    }

    .card img {
        height: 300px;
    }
}

@media (max-width: 937px) {
    .logo {
        width: 200px;
        height: 37px;
    }

    .profile {
        width: 37px;
        height: 37px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .parks,
    .personal-data {
        padding: 27px 37px;
    }

    .note {
        width: 100%;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card {
        width: 270px;
        height: 440px;
    }

    .card:nth-child(2) {
        justify-self: self-end;
    }

    .card img {
        height: 270px;
    }
}

@media (max-width: 912px) {
    .reservation {
        flex-direction: column;
    }

    .calendar {
        width: 100%;
    }

    .times {
        width: 100%;
    }
}

@media (max-width: 821px) {
    .consultation {
        padding: 13px 27px;
    }

    .form-park {
        padding: 13px 27px;
    }

    .personal-data form {
        flex-direction: column;
    }

    .form-control {
        width: 100%;
    }

    .sum-park {
        margin-bottom: 0;
    }

    .choose-park {
        padding: 13px 18px;
        margin-bottom: 20px;
    }

    .choose-park:first-child {
        margin-bottom: 15px;
    }

    .parks,
    .personal-data {
        padding: 25px 35px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .card {
        width: 250px;
        height: 418px;
    }

    .card:nth-child(2) {
        justify-self: self-end;
    }

    .card img {
        height: 250px;
    }
}

@media (max-width: 767px) {
    nav {
        display: none;
    }

    nav.active {
        display: block;
        position: absolute;
        top: 7%;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 7px 8px #ece9e9;
        padding: 20px;
    }

    nav ul.active {
        flex-direction: column;
    }

    .wrapper-ham {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .hamburger {
        display: block;
        font-size: 30px;
    }

    .consul-title h1 {
        font-size: 30px;
    }
}

@media (max-width: 664px) {
    .cards {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .card:nth-child(2) {
        justify-self: center;
    }

    .btn-btl,
    .btn-oke {
        padding: 8px 10px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .address {
        flex-direction: column;
    }

    .wrapper-address {
        width: 100%;
        padding: 16px 23px;
    }

    .title-data {
        font-size: 20px;
    }

    .parks,
    .personal-data {
        padding: 23px 33px;
    }

    .choose-park {
        padding: 10px 15px;
        margin-right: 0;
    }

    .choose-park:not(:last-child) {
        margin-bottom: 15px;
    }

    .note {
        width: 100%;
        padding: 15px 10px;
        font-size: 0.9rem;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 230px;
        height: 380px;
    }

    .card img {
        height: 230px;
    }

    .card-body p,
    .tagline {
        font-size: 0.93rem;
    }

    .sub-title {
        font-size: 18px;
    }

    .choose-large {
        padding: 6px 9px;
        margin-right: 10px;
    }

    .btn-btl,
    .btn-oke {
        padding: 7px 9px;
        font-size: 17px;
    }
}
